<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard - Personal Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="container px-5">
        <br>
        <h1>Personal Management</h1>
        <br>
        <div class="row gx-5 gy-4">
            <div class="col">
                <div class="p-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Times Management</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-warning">Go To Times</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="p-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Activities Management</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go To Activities</a>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <div class="row gx-5 gy-4">
            <div class="col">
                <div class="p-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Resources Repository</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-info">Go To Resources</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="p-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Financial Management</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-success">Go To Financial</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="p-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Relations Management</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="#" class="btn btn-danger">Go To Relations</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br><br>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>